.tasks {
    width: 80%;
    margin-top: 2.5em;
    margin-bottom: 5.5em;
    overflow: auto;
}

.tasks ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;   
    padding: 0;
    margin: 0;     
}

.tasks ul li {
    width: 100%;    
    padding: 0.5em;
}

.taskTitle {
    color: #3E3B3B;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #3E3B3B;
    padding-bottom: .7em;
}

.taskTitle img {    
    width: 20px;
    height: 20px;
    margin-right: 1em;
    vertical-align: middle;
    cursor: pointer;
}

.taskDesc {
    color: #3E3B3B;
    margin-top: 0;
}

.checked {
    color: #C4C4C4;
}

.checked-tit {
    text-decoration-line: line-through;
}

@media (min-width: 600px) {
    .tasks {
        width: 100%;
        height: 35vh;
    }

    .taskTitle {
        font-size: 1.5em;
    }

    .taskTitle img {    
        width: 30px;
        height: 30px;
    }

    .taskDesc {
        font-size: 1.4em;
    }

}

