form {
    width: 90%;
    text-align: center;      
}

.form-group {
    position: relative;
    margin-top: 1.5em;
}

.form-group label { 
    font-size: 1.5em;   
    color: #3E3B3B;   
}

input {    
    background: #A8D2A5;
    width: 90%;
    height: 2em;
    border: 0;   
    border-radius: 4px;
    padding: .5em 0 .5em 1em;
    font-size: 1.4em; 
}

textarea {
    resize: none;
    background: #A8D2A5;
    width: 90%;
    height: 9em;
    border: 0;
    border-radius: 4px;
    padding: .5em 0 .5em 1em;
    font-size: 1.4em; 
}

.hidden {
    display: none;
}

.errorInput {
    position: absolute;
    top: 3.75em;
    left: 1em;
    width: 90%;
    text-align: left;
    font-size: .75em;
    letter-spacing: .2em;
    color: #BC0808;
    padding-left: 1.5em;
}

button {
    width: 90%;
    height: 3.5em;
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
    box-shadow: 0px 4px 4px #ACD4E1;
    border: 0;
    border-radius: 25px;
    margin-top: 1.5em;    
    font-size: 1.2em;
    color: #3E3B3B;
}

.placeHolderRed::placeholder { 
    color: #BC0808;
}

@media (min-width: 600px) {
    form {              
        width: 100%;
    }

    input {
        width: 100%;
        border-radius: 0;
    }

    textarea {               
        height: initial;
        width: 100%;
        border-radius: 0;
    }

    .errorInput {
        padding-left: 0;
        font-size: 1em;
        top: 3em;
    }

    button {
        width: 20%;
    }
}