* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    position: relative;
    height: 100vh;
    font-family: 'Monda';
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-image: url('./assets/bg-over.png'), url('./assets/bg-back.png');  
    background-repeat: no-repeat;
    background-size: 100%;
}

main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4em;
    letter-spacing: 0.1em;
    color: #000000;
    margin-bottom: 0;
}

@media (min-width: 600px) {
    main {
        background-image: url('./assets/bg-desk.png');  
        background-size: 75%;
        background-position: center -17em;
        width: 90%;
        margin: 0 auto;
    }

    main h1 {
        font-size: 4.5em;
    }
}