* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

main {
    font-family: 'Monda';
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-image: url('./assets/bg-over.png'), url('./assets/bg-back.png');  
    background-repeat: no-repeat;
    background-size: 100%;
}

main h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 78px;
    letter-spacing: 0.25em;
    color: #000000;
    margin-bottom: 0;
}